.news {
    margin: 4% 13% 5% 10%;
    border-radius: 25px;
    overflow: auto;
    max-height: 61vh;
}

.article {
    position: relative;
    display: block;
    background-color: $article-back-ground;
    backdrop-filter: blur(10px);
    color: #FFD3CD;
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);    

    height: 16vh;
    margin: 1vh 0 0 0;
    padding: 10px 10px;

    text-align: left;
    text-decoration: none;
}

.title {
    position: absolute;
    top: 7%;
    left: 1.5%;

    max-width: 97%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.date {
    position: absolute;
    bottom: 7%;
    right: 1.5%;

    text-align: right;
}

.author {
    position: absolute;
    bottom: 7%;
    left: 1.5%;
}