.bubble {
    position: fixed;
    border-radius: 50%;
    background-image: radial-gradient(circle, $bubble-light, $bubbles-dark);
    aspect-ratio: 1;
}

.bubble-1 {
    top: 3%;
    left: 3%;
    width: 27%;
}

.bubble-2 {
    top: 40%;
    left: 44%;
    width: 17%;
}

.bubble-3 {
    top: -9%;
    right: -5%;
    width: 32%;
}

.bubble-4 {
    top: 68%;
    left: 10%;
    width: 14%;
}

.bubble-5 {
    top: 70%;
    right: 5%;
    width: 25%;
}