$title: #ff5927;
$button: #ff5927;
$paragraph: #FFD3CD;
$back-grond: #011627;
$article-back-ground: #ffffff05;
$bubbles-dark: #260046;
$bubble-light: #8c56bb;  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $back-grond;
    -ms-overflow-style: none;
    font-family: "Roboto Mono", monospace, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-title {
    margin: 2% 0 0 0;
    color: $title;
    font-size: 6vw;
    z-index: 5;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.custom-alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgb(0, 205, 0);
    color: white;
    font-size: 19px;
    border-radius: 30px;
    text-align: center;
    width: 300px;
    height: 80px;
    line-height: 77px;
    z-index: 10;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.load-button {
    display: block;
    position: relative;
    background-color: $button;
    color: $back-grond;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    z-index: 5;
    font-size: 25px;
    font-weight: bold;

    margin: 0 auto;
    width: 300px;
    height: 85px;
}

@import "_bubble.scss";

@import "_article.scss";

@import "_media-query.scss";